.container-Form{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dad2cb;
  border-radius: 5px;
}

.form-label{
  margin: 0;
  margin-top: 0.7rem;
}

.container-Button{
  display: flex;
  justify-content: space-between;
}



.invalid{
  display: block;
  margin-top: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border-color: darkred;
  background-color: rgba(186, 0, 0, 0.26);
  color: darkred;
}
.valid{
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  color: darkgreen;
  background-color: rgba(137, 177, 137, 0.612);
  border: 1px solid darkgreen;
  border-radius: 5px;
}